body {
  font-family: sans-serif;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size:12pt;
  max-width: 80%;
  font-family:"Calibri",sans-serif;
}

.makeroom {
  margin-left: 250px;
  margin-right: 25px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.button {
  background-color: #63BC61;
  border: none;
  color: white;
  padding: 10px;
  line-height: 35pt;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-weight: bolder;
  border-radius: 10px;
  text-shadow: 1px 1px #344F32;
  vertical-align: middle;
}

.buttonless {
  background-color: lightgray;
  border: none;
  color: white;
  padding: 10px;
  line-height: 35pt;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-weight: bolder;
  border-radius: 10px;
  text-shadow: 1px 1px #344F32;
  vertical-align: middle;
}

 .linkedin {
   width: 40px;
   margin-left: 5px;
 }
 td {
    padding: 10px;
 }
 p {
  margin-bottom: 20pt;
 }

p.MsoNormal, li.MsoNormal, div.MsoNormal
  {
    margin:5pt;
    font-family:"Calibri",sans-serif;
}
li {
   font-size:12.0pt;
   font-family:"Calibri",sans-serif;
}
h1
  {mso-style-link:"Heading 1 Char";
  margin-top:12.0pt;
  margin-right:0in;
  margin-bottom:10pt;
  margin-left:0in;
  page-break-after:avoid;
  font-size:16.0pt;
  font-family:"Calibri",sans-serif;
  color:#2F5496;
  font-weight:normal;}
h2
  {mso-style-link:"Heading 2 Char";
  margin-top:2.0pt;
  margin-right:0in;
  margin-bottom:10pt;
  margin-left:0in;
  page-break-after:avoid;
  font-size:14.0pt;
  font-family:"Calibri",sans-serif;
  color:#2F5496;
  font-weight:normal;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
  {margin-top:0in;
  margin-right:0in;
  margin-bottom:0in;
  margin-left:.5in;
  font-size:12.0pt;
  font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
  {margin-top:0in;
  margin-right:0in;
  margin-bottom:0in;
  margin-left:.5in;
  font-size:12.0pt;
  font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
  {margin-top:0in;
  margin-right:0in;
  margin-bottom:0in;
  margin-left:.5in;
  font-size:12.0pt;
  font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
  {margin-top:0in;
  margin-right:0in;
  margin-bottom:0in;
  margin-left:.5in;
  font-size:12.0pt;
  font-family:"Calibri",sans-serif;}
span.Heading1Char
  {mso-style-name:"Heading 1 Char";
  mso-style-link:"Heading 1";
  font-family:"Calibri",sans-serif;
  color:#2F5496;}
span.Heading2Char
  {mso-style-name:"Heading 2 Char";
  mso-style-link:"Heading 2";
  font-family:"Calibri",sans-serif;
  color:#2F5496;}
.MsoChpDefault
  {font-size:12.0pt;
  font-family:"Calibri",sans-serif;}
@page WordSection1
  {size:8.5in 11.0in;
  margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
  {page:WordSection1;}
 /* List Definitions */
 ol
  {margin-bottom:0in;}
ul
  {margin-bottom:0in;}


